@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', 'sans';
  font-size: 15px;
  font-weight: 500;
}

body {
  @apply bg-bcg-dark text-white;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.3125px;
}
